$primary-color: #9fb9b5;
$primary-color-alt: #58716d;
$secondary-color: #eed6cf;
$tertiary-color: #414068;
$tertiary-color-alt: #09142e;

$breakpoint-small: 450px;
$breakpoint-medium: 600px;
$breakpoint-large: 740px;
$breakpoint-large-plus: 920px;